.vscode/c_cpp_properties.json
lab/asd123
lab/lab1_lab/dir1/*
lab/lab2_lab/asd123
lab/lab2_lab/script1prep.sh
lab/lab2_lab/so2nie
lab/lab2_lab/symlinks/*
lab/lab2_lab/targetdir/*
lab/lab1_lab/zad1.txt
.vscode/*
lab/.vscode/ipch/85679db567052c8a/mmap_address.bin
lab/lab2/readme.md
lab/lab2/script1.sh
lab/lab2/script2.sh
lab/lab2/script3.sh
lab/lab2/script4.sh
lab/lab2_lab/*
lab/lab3/coreutils-8.27.tar.xz
lab/lab3/liczby
lab/lab3/lines
lab/lab3/numbers
lab/lab3/script1.sh
lab/lab3/script2.sh
lab/lab3/coreutils-8.27/*
proj/Ball.cpp
proj/Ball.h
proj/Global.h
proj/main.cpp
proj/makefile
lab/lab4/guetzli-master/*
lab/lab4/zad1/*
master.zip
mmap*