.vscode/c_cpp_properties.json
lab/asd123
lab/lab1_lab/dir1/file1
lab/lab1_lab/dir1/file2
lab/lab1_lab/dir1/file3
lab/lab2/asd123
lab/lab2/script1prep.sh
lab/lab2/so2nie
lab/lab2/symlinks/plik1
lab/lab2/symlinks/symlinkplik1
lab/lab2/symlinks/symlinkreadme
lab/lab2/targetdir/asd123
lab/lab2/targetdir/script1prep.sh
lab/lab2/targetdir/readme.md
lab/lab2/targetdir/script1.sh
lab/lab2/targetdir/script2.sh
lab/lab2/targetdir/script3.sh
lab/lab2/targetdir/script4.sh
